@import '../../style/style.scss';

.hamburger {
	position: absolute;
	top: 50px;
	left: $gutter;
	width: 20px;
	height: 20px;
	background: url('../../assets/hamburger.svg') center/contain no-repeat;
	animation: hamburgerIn #{$animation};
	z-index: 1;
}

@keyframes hamburgerIn {
	from {
		transform: translateX(-40px);
	}
	to {
		transform: translateX(0);
	}
}

.progressWrap {
	position: absolute;
	padding: calc(2 * #{$main-br});
	z-index: 12;
	width: 80vw;

	animation: dropShow #{$animation};

	.progressText {
		padding-top: $gutter;
		color: white;
		font-weight: bold;
		font-size: 20px;
		text-align: left;

		span {
			font-size: 24px;

			&.ep {
				color: $color-1;
			}
			&.all {
				color: $color-3;
			}
		}
	}
}

.circle {
	position: absolute;
	top: -100vw;
	left: -100vw;
	width: 100vw;
	height: 100vw;
	border-radius: 200vw;
	background-color: $color-2;
	box-shadow: 0 6px 12px black;
	z-index: 11;

	will-change: transform;
	transform-origin: top left;

	&.expanded {
		width: 200vw;
		height: 200vw;
		animation: circleExpand #{$animation};
	}

	&.collapsed {
		animation: circleCollapse #{$animation};
	}
}

@keyframes circleExpand {
	from {
		transform: scale(.5);
	}
	to {
		transform: scale(1);
	}
}
@keyframes circleCollapse {
	from {
		transform: scale(2);
	}
	to {
		transform: scale(1);
	}
}

.drop {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .4);
	z-index: 10;

	&.shown {
		opacity: 1;
		animation: dropShow #{$animation};
	}
	&.hidden {
		opacity: 0;
		animation: dropHide #{$animation};
	}
}

@keyframes dropShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes dropHide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
