@import '../../style/style.scss';

.titleWrap {
	position: relative;
	height: 150px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;

	will-change: transform;
	transform: translateY(calc(50vh - 50%));
	transition: transform #{$animation};

	.title {
		height: 50px;
		background-image: url('../../assets/friends_logo_black.png');
		background-position-x: center;
		background-repeat: no-repeat;
		background-size: contain;
		margin-bottom: 8px;
	}

	.subtitle {
		font-size: 14px;
	}
}

.progressWrap {
	position: relative;
	border-radius: $main-br;
	box-shadow: 0 6px 12px #1c1c1c;
	background: #111;
	background: linear-gradient(135deg, #000 0%, #1c1c1c 90%);
	padding: $main-br;
	margin: 0 $gutter;
	display: flex;

	will-change: transform;
	transform: translateY(100vh);
	transition: transform #{$animation};

	& > div {
		flex: 1;
	}

	.progressDivider {
		flex: none;
		width: $main-br;
	}
}

.episodeWrap {
	position: relative;
	height: calc(100vh - 375px); // generate button + title wrap + progress wrap + 2*gutter
	border-radius: $main-br;
	box-shadow: 0 6px 12px #1c1c1c;
	background-color: black;
	overflow: hidden;
	margin: $gutter $gutter 0;
	display: flex;
	flex-direction: column;
	flex: 1;

	will-change: transform, opacity;
	transform: translateY(100vh);
	transition: transform #{$animation2};

	.title {
		font-size: 20px;
		font-weight: bold;
		color: white;
		padding: $main-br;
	}

	.cover {
		flex: 1;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		overflow: hidden;

		.plotWrap {
			font-size: 14px;
			font-weight: normal;
			color: darken(white, 10%);
			background: rgba(0, 0, 0, .3);
			background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.1) 100%);
			padding: 0 $main-br;

			.plot {
				transition: transform #{$animation};

				&.hide {
					transform: translateY(-100%);
				}
			}
		}
	}

	&.changeEpisode {
		animation-name: changeEpisode;
		animation-duration: 700ms;
		animation-timing-function: ease;
	}
}

@keyframes changeEpisode {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}


.generateButton {
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;

	height: 64px;
	font-size: 24px;
	font-weight: bold;

	position: absolute;
	width: 100%;
	bottom: 0;
	background: $color-1;
	background: linear-gradient(90deg, $color-1 0%, $color-3 100%);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;

	&:active {
		background: linear-gradient(240deg, $color-1 0%, $color-3 100%);
	}
}

.init {
	.titleWrap, .progressWrap, .episodeWrap {
		transform: translateY(0);
	}
}
