$color-1: #ffa822;
$color-2: #124c6d;
$color-3: #ff6150;
$color-4: #1ac0c6;
$color-5: #dee0e6;

$gutter: 16px;

$main-br: 24px;

$animation-duration: 700ms;
$animation-func: ease;
$animation: #{$animation-duration} #{$animation-func};

$animation2: 1000ms ease;
