@import './style/style.scss';

*, *:after, *:before {
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 14px;
	text-shadow: 1px 1px 2px #222;
}

button {
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
}

html, body, #root {
	padding: 0;
	margin: 0;

	height: 100%;
	display: flex;
	flex: 1;

	overflow: hidden;
}

#app {
	display: block;
	flex: 1;
	position: relative;
	overflow: hidden;
	text-align: center;

	background: $color-2;
	background: linear-gradient(180deg, $color-2 20%, lighten($color-2, 8%) 100%);
}
